nav {
  color:whitesmoke;
  opacity:.85;
  z-index:100;
}

.nav-item {
  text-align:right;
  float:right !important;
}

#homeBG {
  background-color:black;
  position:fixed;
  top:0;
}

.homeSlide {
  height: 100vh;
  width:auto;
  margin:auto;
}